<!-- Page Content -->
<div class="container" *ngIf="this.book">

    <div class="row">

        <div class="col-sm-2 ajeita-img">
            <a (click) = 'getLarge(book.ISBN)'>
            <img [src]="getURL(book.ISBN)" alt="book.title">
        </a>
        </div>
        <div class="card-body col-sm-8">
            <h3 class="card-title">{{book.title}}</h3>
            <h4>${{book.price}}</h4>
            <div><strong>ISBN:</strong> {{book.ISBN}} </div>
            <div><strong>Publisher:</strong> {{book.publisher}}</div>
            <div *ngIf="this.authors"><strong>Authors:</strong>{{getAuthors()}}</div>
            <Strong>Descrição:</Strong>
            <app-readmore [text]="book.description" [maxHeight]="100"></app-readmore>
        </div>
        <div class="ajeita-button">
            <button [routerLink]='["/cart", {id: book.ISBN}]' type="button" class="btn btn-primary">Comprar</button>
        </div>
        
    </div>
</div>
<!-- /.container -->