<mat-toolbar color="primary" class="mat-elevation-z3">
    <mat-toolbar-row>
        <span class="titulo">
            <a routerLink="/home" class="link-no-style">
                <mat-icon aria-hidden="false">bookmarks</mat-icon>
                CodeBooks
            </a>
        </span>
        <span class="example-spacer"></span>

        <mat-form-field class="search-input" appearance="fill">
            <input matInput placeholder="Busque por títulos" 
                [(ngModel)]="query"
                (keyup.enter)="toSearch()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <span class="example-spacer"></span>
        <button routerLink="/cart" mat-icon-button>
            <mat-icon aria-hidden="false">shopping_cart</mat-icon>
        </button>
        <button np mat-icon-button>
            <mat-icon aria-hidden="false">account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>