.titlebar {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}

.container {
    height: calc(100vh - 64px);
    margin-right: 0px;
}

.side {
    width: 250px;
}

.content {
    background-color: white;
    overflow: auto;
}

.box {
    padding-top: 64px;
}

.subtitle {
    font-size: large;
    text-align: center;
}

.mat-sidenav-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: auto;
}